doctype html
html
  head
    script(type='text/javascript', src='scripts/external/modernizr.js')
    script(src="http://localhost:35729/livereload.js")
    title Panorama
  body
    h1 Hello Panorama
    script(data-main="scripts/main", src="scripts/require.js")
